<div id="train-container">

                   <div class="oj-form">
                     <div class="oj-flex-bar">
                        <div class="oj-flex-bar-start">
                    <button id="cancel" type="button"  data-bind="click: cancelAction,
							ojComponent: {
							  component: 'ojButton', 
							  label: cancel}">
					</button>
                    <button id="Previous" type="button"  data-bind="click: previousStep, 
							ojComponent: {disabled:currentStepValue() == 'stp1',
							  component: 'ojButton', 
							  label: back}">
					</button>
                            </div>
                        <div class="oj-flex-bar-end">
                    <button id="Next" type="button"   data-bind="click: nextStep, visible:nextBtnVisible,
					ojComponent: {
					  component: 'ojButton', 
					  label: next}" />
                    <button id="submit"  data-bind="visible:editBtnVisible ,click: submitButton, 
                       ojComponent: { component: 'ojButton', label: submit}">
					</button>
                    <button id="submitDraft" style="vertical-align:top;float: right;" data-bind="click:draftButton,
                  visible:editResubmitBtnVisible ,ojComponent: { component: 'ojButton', label: saveDraft }"></button>
                    </div>
                </div>
               </div> 
                

    <div style="text-align: center;white-space:nowrap;">
      <oj-train id="train"
                style="max-width:700px;margin-left:auto;margin-right:auto;"
                selected-step="{{currentStepValue}}"
                steps="[[stepArray]]"
                class="oj-train-stretch"
                on-oj-before-select="[[stopSelectListener]]"/>
    </div>
    <br/>
    <h3 id="currentStepText" data-bind="text: currentStepValueText()" style="text-align: center">
    </h3>
<div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">

                <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">
                <div class="oj-flex-item">
                    <label for="control1"  data-bind="text:requestDate "/>
                </div>
         
                <div class="oj-flex-item">
                
                <input id="requestDate"
                   data-bind="ojComponent: {component: 'ojInputDate',
                   value: employeeAllowanceModel.requestDate, 
                   converter: dateConverter, invalidComponentTracker: tracker,required: true,  disabled: true}"/> 
                </div>

                <div class="oj-flex-item">
                    <label for="control1"  data-bind="text:hireDate "/>
                 
                </div>
                <div class="oj-flex-item">
                    <input id="hireDate"  data-bind="ojComponent: {component: 'ojInputText', invalidComponentTracker: tracker,
                                          value:employeeAllowanceModel.hireDate, required: true,  disabled: true}">
                </div>
                  <div class="oj-flex-item">
                    <label for="control1"  data-bind="text:startDate "/>
                     
                </div>
                <div class="oj-flex-item">
                 <input id="startDate"
                   data-bind="ojComponent: {component: 'ojInputDate', max: employeeAllowanceModel.endDate,  converter: dateConverter,
                   value: employeeAllowanceModel.startDate, disabled: isDisabled,invalidComponentTracker: tracker,required: true}"/>
                </div>
                   <!-- ko if: employeeAllowanceModel.housingAllowance() == 'RELOCATION_ALLOWANCE'  -->
                <div class="oj-flex-item">
                    <label for="control1"  data-bind="text:endDate "/>
                     
                </div>
                <div class="oj-flex-item">
                  <input id="endDate"
                   data-bind="ojComponent: {component: 'ojInputDate',  min: employeeAllowanceModel.startDate,  converter: dateConverter,
                   value: employeeAllowanceModel.endDate,disabled: isDisabled,invalidComponentTracker: tracker,required: true}"/>
                </div>
             <!-- /ko -->

            </div>


            <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">
              <!--  <div class="oj-flex-item">
                    <label for="control1"  data-bind="text:housingType "/>
                </div>
                <div class="oj-flex-item">
                   <input id="housingType"  data-bind="ojComponent: {component: 'ojInputText', invalidComponentTracker: tracker,
                                          value:employeeAllowanceModel.housingType, required: true,  disabled: isDisabled}">
                </div>-->

           
                <div class="oj-flex-item">
                    <label for="control1"  data-bind="text:allowanceType "/>
                </div>
                 <div class="oj-flex-item">
              <select id="housingAllowance"
                    data-bind="ojComponent: {component: 'ojSelect', value: employeeAllowanceModel.housingAllowance, placeholder: 'Please Select a Value',disabled: isDisabled,invalidComponentTracker: tracker,required: true}">
                      <!-- ko foreach: hrAllowances -->
                      <option data-bind="value:value, text:label"></option>
                      <!-- /ko -->
            </select>
               
                </div>
                <div class="oj-flex-item">
                    <label for="control1"  data-bind="text:amount "/>
                     
                </div>
                <div class="oj-flex-item">
                  <select id="allowanceAmount"
                    data-bind="ojComponent: {component: 'ojSelect', value: employeeAllowanceModel.allowanceAmount, placeholder: 'Please Select a Value',disabled: isDisabled,invalidComponentTracker: tracker,required: true}">
                      <!-- ko foreach: allowanceAmount -->
                      <option data-bind="value:value, text:label"></option>
                      <!-- /ko -->
            </select>
                </div>

                <div class="oj-flex-item">
                    <label for="control1"  data-bind="text:reason "/>
                     
                </div>
                <div class="oj-flex-item">
                  <input id="reason"  data-bind="ojComponent: {component: 'ojInputText', invalidComponentTracker: tracker,
                                          value:employeeAllowanceModel.reason, required: true,  disabled: isDisabled}">
                </div>

            </div>
         <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">
                  <div class="oj-flex-item">
                            <label for="control1"  data-bind="text:comment "/>
                  </div>
                  <div class="oj-flex-item">
                    <input id='city' type="text"
                           data-bind="ojComponent: {component: 'ojInputText', value: employeeAllowanceModel.commment, disabled: isDisabled,invalidComponentTracker: tracker,required: false}"/>
                  </div>
        </div>

                  <div id="sampleDemo" style="" class="demo-padding demo-container">
                
                
            <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
             <div id="dialogWrapper">
            <oj-dialog style="display:none;width:350px;height:auto" id="yesNoDialog" >
                            <div slot="header" class="oj-helper-clearfix">
                                <label  data-bind="text:confirmMessage "/>
                        </div>
                            <div slot="body">     
                                 <label  data-bind="text:editMessage "/>              
                            </div>
                <div slot="footer">
                   <button id="buttonOpenerNested" type="button" data-bind="click: commitRecord,
							ojComponent: {
							  component: 'ojButton', 
							  label: yes}">
					</button>
                    <button id="cancelButton" type="button" data-bind="click: cancelButton,
							ojComponent: {
							  component: 'ojButton', 
							  label: no}">
					</button>
                </div>
            </oj-dialog>      
            
            <oj-dialog style="display:none;width:350px;height:auto"
                       id="draftDialog">
                  <div slot="header" class="oj-helper-clearfix">
                    <label data-bind="text:confirmMessage "/>
                  </div>
                  <div slot="body">
                    <label data-bind="text:editMessage "/>
                  </div>
                  <div slot="footer">
                    <button id="buttonOpenerNested" type="button"
                            data-bind="click: commitDraft,        ojComponent: {          component: 'ojButton',           label: yes}"></button>
                     
                    <button id="cancelButton" type="button"
                            data-bind="click: cancelDraft,        ojComponent: {          component: 'ojButton',           label: no}"></button>
                  </div>
             </oj-dialog><!--added-->
             
        </div>

        
      </div>
    </div>

        </div>
    </div>
</div>