 

<div id="form-container" class="oj-form-layout">
    <div class="oj-form">
        <button id="cancel" type="button" style="vertical-align:top;"
                data-bind="click: cancelAction,        ojComponent: {          component: 'ojButton',           label: 'Cancel', icons:{end:'fa fa-times-circle-o'}}"></button>
         
        <button id="PreviousStep" type="button" style="vertical-align:top;"
                data-bind="click: previousStep,         ojComponent: {disabled:currentStepValue() == 'stp1',          component: 'ojButton',           label: 'Back',          icons: {start:'oj-fwk-icon-back oj-fwk-icon'}}"></button>
         
        <button id="submit" style="vertical-align:top;float: right;"
                data-bind="visible:addBtnVisible ,click: submitButton,                         ojComponent: { component: 'ojButton', label: 'Submit', icons:{end: 'fa fa-paper-plane'}}"></button>
         
        <button id="NextStep" type="button"
                style="display:inline-block;vertical-align:top;float: right;"
                data-bind="visible:nextBtnVisible,click: nextStep,       ojComponent: {        disabled:currentStepValue() == 'stp2',        component: 'ojButton',         label: 'Next ',        icons: {end:'oj-fwk-icon-next oj-fwk-icon'}}"></button>
    </div>
    <div id="sampleDemo" style="" class="demo-padding demo-container">
        <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
            <div id="dialogWrapper">
                <oj-dialog style="display:none;width:350px;height:auto"
                           id="yesNoDialog" title="Confirm Message">
                    <div slot="body">Are You Sure To Add Element Entry Request</div>
                    <div slot="footer">
                        <button id="buttonOpenerNested" type="button"
                                data-bind="click: commitRecord,        ojComponent: {          component: 'ojButton',           label: 'Yes'}"></button>
                         
                        <button id="cancelButton" type="button"
                                data-bind="click: cancelButton,        ojComponent: {          component: 'ojButton',           label: 'No'}"></button>
                    </div>
                </oj-dialog>
            </div>
        </div>
    </div>
</div>
<div id="train-container">
    <div style="text-align: center;white-space:nowrap;">
        <oj-train id="train"
                style="max-width:700px;margin-left:auto;margin-right:auto;"
                selected-step="{{currentStepValue}}"
                steps="[[stepArray]]"
                class="oj-train-stretch"
                on-oj-before-select="[[stopSelectListener]]"/>
    </div>
    <br/>
     
    <h3 id="currentStepText" data-bind="text: currentStepValueText()"
        style="text-align: center"></h3>
    <div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="control1">Source System Owner</label>
                </div>
                <div class="oj-flex-item">
                    <input id="control1"
                           data-bind="ojComponent: {component: 'ojInputText', invalidComponentTracker: tracker,                                          disabled: isDisabled, value:elementEnteryModel.source_system_owner, required: true }"></input>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="control1">Source System Id</label>
                </div>
                <div class="oj-flex-item">
                    <input id="control1"
                           data-bind="ojComponent: {component: 'ojInputText', invalidComponentTracker: tracker,                                           disabled: isDisabled,value:elementEnteryModel.source_system_id, required: true }"></input>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="control1">Effective Start Date</label>
                </div>
                <div class="oj-flex-item">
                    <input id="control1"
                           data-bind="ojComponent: {component: 'ojInputDate', invalidComponentTracker: tracker,                                           disabled: isDisabled, converter: dateConverter,value:elementEnteryModel.effective_start_date, required: true }"></input>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="control1">Effective End Date</label>
                </div>
                <div class="oj-flex-item">
                    <input id="control1"
                           data-bind="ojComponent: {component: 'ojInputDate', invalidComponentTracker: tracker,                                          disabled: isDisabled,converter: dateConverter, value:elementEnteryModel.effective_end_date, required: true}"></input>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="control1">Element Name</label>
                </div>
                <div class="oj-flex-item">
                    <input id="control1"
                           data-bind="ojComponent: {component: 'ojInputText', invalidComponentTracker: tracker ,                                          disabled: isDisabled,  value:elementEnteryModel.element_name, required: true}"></input>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="control1">Legislative Data Group Name</label>
                </div>
                <div class="oj-flex-item">
                    <input id="control1"
                           data-bind="ojComponent: {component: 'ojInputText', invalidComponentTracker: tracker ,                                           disabled: isDisabled, value:elementEnteryModel.legislative_data_group_name, required: true}"></input>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="control1">Assignment Number</label>
                </div>
                <div class="oj-flex-item">
                    <input id="control1"
                           data-bind="ojComponent: {component: 'ojInputText', invalidComponentTracker: tracker ,                                  disabled: isDisabled,     value:elementEnteryModel.assignment_number, required: true}"></input>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="control1">Entry Type</label>
                </div>
                <div class="oj-flex-item">
                    <input id="control1"
                           data-bind="ojComponent: {component: 'ojInputText', invalidComponentTracker: tracker,                           disabled: isDisabled,   value:elementEnteryModel.entry_type, required: true}"></input>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="control1">Creator Type</label>
                </div>
                <div class="oj-flex-item">
                    <input id="control1"
                           data-bind="ojComponent: {component: 'ojInputText', invalidComponentTracker: tracker ,                                          disabled: isDisabled, value:elementEnteryModel.creator_type, required: true}"></input>
                </div>
            </div>
        </div>
    </div>
</div>