
    <div id="form-container" class="oj-form-layout">
    <div class="oj-form">
                      <button id="back" type="button" class="oj-button-primary" style="vertical-align:center;margin-left:auto;margin-right:auto;" data-bind="click: backAction,
								ojComponent: {
								  component: 'ojButton', 
								  label: back,
								  icons: {start:'oj-fwk-icon-back oj-fwk-icon'}}">
                                </button>
                                        
                                           <div id="sampleDemo" style="" class="demo-padding demo-container">
                
                
            

        
      </div>
    </div>
                </div>

            </div>
<div id="train-container">
    <div style="text-align: center;white-space:nowrap;">
      
    </div>
   


    <div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
            <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">
                <div class="oj-flex-item">
                     <label for="control1"  data-bind="text:requestDate "/>
                </div>
                <div class="oj-flex-item">
                    <input id="control1" data-bind="ojComponent: {component: 'ojInputText', 
                                          value:rewardRequestModel.requestDate ,disabled:true}">
                </div>

           
                <div class="oj-flex-item">
                    <label for="control1"  data-bind="text:servicePeriod "/>
                </div>
                 <div class="oj-flex-item">
                    <input id="control1" data-bind="ojComponent: {component: 'ojInputText',  
                                          value:rewardRequestModel.servicePeriod, required: true,  disabled: true}">
               
                </div>
            	    <div class="oj-flex-item">
                     <label for="control1"  data-bind="text:lastEosPaymentDate "/>
                </div>
                <div class="oj-flex-item">
                    <input id="control1" data-bind="ojComponent: {component: 'ojInputText',   
                                          value:rewardRequestModel.lastEosPaymentDate, required: true,  disabled: true}">
                </div>  

                </div>

            <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">
                <div class="oj-flex-item">
                     <label for="control1"  data-bind="text:endOfServiceAmount "/>
                </div>
            	       <div class="oj-flex-item">
                       <input id="control1" data-bind="ojComponent: {component: 'ojInputText',  
                                          value:rewardRequestModel.endOfServiceAmount, required: true,  disabled: true}">
                
                
                   
                </div>

                <div class="oj-flex-item">
                    <label for="control1"  data-bind="text:paidEndOfService "/>
                </div>
                <div class="oj-flex-item">
                    <input id="control1" data-bind="ojComponent: {component: 'ojInputText',  
                                          value:rewardRequestModel.paidEndOfService, required: true,  disabled: true}">
                </div>

           
                <div class="oj-flex-item">
                    <label for="control1"  data-bind="text:allowedAmount "/>
                </div>
                <div class="oj-flex-item">
                    <input id="control1"
                           data-bind="ojComponent: {component: 'ojInputText',                      
                           value:rewardRequestModel.allowedAmount,disabled: true,required: true}"></input>
                </div>
      
                <div class="oj-flex-item">
                     <label for="control1"  data-bind="text:requestAmount "/>
                </div>
                <div class="oj-flex-item">
                    <input id="control1"
                           data-bind="ojComponent: {component: 'ojInputText',                                        
                           value:rewardRequestModel.requestedAmount,disabled: true,required: true}"></input>
                </div>
        
                <div class="oj-flex-item">
                    <label for="control1"  data-bind="text:reason "/>
                </div>
                <div class="oj-flex-item">
                    <input id="control1" data-bind="ojComponent: {component: 'ojInputText',   
                                          value:rewardRequestModel.reason, required: true,  disabled: true}">
                </div>

                <div class="oj-flex-item">
                    <label for="control1"  data-bind="text:loan "/>
                </div>
                <div class="oj-flex-item">
                    <input id="control1" data-bind="ojComponent: {component: 'ojInputText',   
                                          value:rewardRequestModel.loan, required: true,  disabled: true}">
                </div>

                <div class="oj-flex-item">
                   <label for="control1"  data-bind="text:comment "/>
                </div>
                <div class="oj-flex-item">
                    <input id="control1" data-bind="ojComponent: {component: 'ojInputText',   
                                          value:rewardRequestModel.commment, required: true,  disabled: true}">
                </div>

            </div>
            
        </div>
    </div>
</div>