<h1>
<label for="type" style="display:block; font-size:large; font-weight:bold;" data-bind="text:reviewFamilyVisaRefund "/>
    <span data-bind="text: familyVisaRefundModel.name" style="color:#a52a2a;"></span>
</h1>
<br></br>
<div class="oj-form-layout">
    <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
        <div class="oj-flex">
            <div class="oj-flex-item" style="margin: auto;">
                <button id="approve" type="button" class="oj-button-confirm"
                        data-bind="visible:isShown,click: submitButton, ojComponent: {component: 'ojButton',label: approve}"></button>
                 
                <button id="reject" type="button" class="demo-button-error"
                        data-bind="visible:isShown,click: rejectButton, ojComponent: { component: 'ojButton', label: reject}"></button>
                 
                <button id="back" type="button" class="oj-button-primary"
                        data-bind="click: cancelAdvHousing,ojComponent: { component: 'ojButton', label: back,icons: {start:'oj-fwk-icon-back oj-fwk-icon'}}"></button>
            </div>
                <div class="se-pre-con"></div>
            <div id="sampleDemo" style="" class="demo-padding demo-container">
                <div id="componentDemoContent"
                     style="width: 1px; min-width: 100%;">
                    <div id="dialogWrapper">
                                              <oj-dialog style="display:none;width:350px;height:auto"
                                   id="yesNoDialog" >
                                   <div slot="header" class="oj-helper-clearfix">
                                        <label  data-bind="text:confirmMessage "/>
                                </div>
                                    <div slot="body">     
                                         <label  data-bind="text:approveMessage "/>              
                                    </div>
                            <div slot="footer">
                                <button id="buttonOpenerNested" type="button"
                                        data-bind="click: approveNewFamilyVisaRefund,        ojComponent: {          component: 'ojButton',           label: yes}"></button>
                                 
                                <button id="cancelButton" type="button"
                                        data-bind="click: cancelButton,        ojComponent: {          component: 'ojButton',           label: no}"></button>
                            </div>
                        </oj-dialog>
                         
                        <oj-dialog style="display:none;width:350px;height:auto"
                                   id="rejectDialog" >
                            <div slot="header" class="oj-helper-clearfix">
                                         <label  data-bind="text:confirmMessage "/>
                            </div>
                                <div slot="body">     
                                     <label  data-bind="text:rejectMessage "/>              
                                </div>
                                            <div slot="footer">
                                <button id="buttonOpenerNested" type="button"
                                        data-bind="click: rejectNewFamilyVisaRefund,        ojComponent: {          component: 'ojButton',           label: yes}"></button>
                                 
                                <button id="cancelButton" type="button"
                                        data-bind="click: rejectCancelButton,        ojComponent: {          component: 'ojButton',           label: no}"></button>
                            </div>
                            <div class="oj-flex">
          <div class="oj-flex-item">
                    <label for="control1" data-bind="text:rejectReason"/>
          </div>
          <div class="oj-flex-item">
            <input id='city' type="text"
                   data-bind="ojComponent: {component: 'ojInputText', value:familyVisaRefundModel.rejectRessone, disabled: false,invalidComponentTracker: tracker,required: true}"/>
          </div>
        </div>
                        </oj-dialog>
                    </div>
                </div>
            </div>
        </div>
                <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">
                <div class="oj-flex-item">
                  <label for="control1"  data-bind="text:contractType "/>
                 
                </div>
                <div class="oj-flex-item">
                    <input id="contractType" data-bind="ojComponent: {component: 'ojInputText',
                                          value:familyVisaRefundModel.contractType,  disabled: true }">
                </div>

                <div class="oj-flex-item">
                  <label for="control1"  data-bind="text:requesterNationality "/>
                </div>
                <div class="oj-flex-item">
                    <input id="nationality" data-bind="ojComponent: {component: 'ojInputText',
                                          value:familyVisaRefundModel.reqNationality ,  disabled: true}">
                </div>

          
                <div class="oj-flex-item">
                  <label for="control1"  data-bind="text:amount "/>
                </div>
                <div class="oj-flex-item">
                             
                              <input id="amount" data-bind="ojComponent: {component: 'ojInputText', 
                                          value:familyVisaRefundModel.amount, disabled: true}">
                </div>

            </div>


            <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">
                <div class="oj-flex-item">
                  <label for="control1"  data-bind="text:remarks "/>
                     
                </div>
                <div class="oj-flex-item">
                    <input id="remark" data-bind="ojComponent: {component: 'ojInputText', 
                                          value:familyVisaRefundModel.remarks,  disabled: true}">
                </div>
        
                   <!-- <div class="oj-flex-item">
                            <label for="control1"  data-bind="text:comment "/>
                  </div>
                  <div class="oj-flex-item">
                    <input id='city' type="text"
                           data-bind="ojComponent: {component: 'ojInputText', value: familyVisaRefundModel.commment, disabled: isDisabled,invalidComponentTracker: tracker,required: false}"/>
                  </div>-->
                  <div class="oj-flex-item">
                         <label for="control1" data-bind="text:attachment"/>
                  </div>
                    <div class="oj-flex-item">
                    <img src="#" height="200" alt="Image preview..." class="attClass" width= '207'/>
                  </div>
            </div>
            <!--<div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations" data-bind="visible:isShown">
                <div class="oj-flex-item">
                  <label for="control1"  data-bind="text:paymentperiod "/>
                     
                </div>
                <div class="oj-flex-item">
                <select id="payperiod"
                    data-bind="ojComponent: {component: 'ojSelect', placeholder: 'Please Select a Value',invalidComponentTracker: tracker,required: true, value: payPeriodValue}">
              --><!-- ko foreach: payPeriods --><!--
              <option data-bind="value:value, text:label"></option>
              --><!-- /ko --><!--
            </select>
           
                   
                </div>

            </div>-->

    </div>
</div>