
<div class="oj-flex-item oj-panel">

<div id="tableWrapper">
        <label for="type" style="display:block; font-size:large; font-weight:bold;" data-bind="text:newFamilyVisaRefund "/>

    <div id="form-container" class="oj-form-layout">
    
   <div class="oj-form">
   <div style="display:none" id="modalDialog1" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',
                               rootAttributes: { style: 'min-width: 50vw; min-height: 65vh;'}}">
     <div class="oj-dialog-header">
	<span data-bind="text:approvals"></span>
     </div>
     <div class="oj-dialog-body">
     <div id="tableDemo" class="oj-flex oj-flex-items-pad">
            <div class="oj-xl-8 oj-lg-8 oj-md-6 oj-flex-item">
                <oj-table id="tbl12" aria-label="View Approvals"
                                            data='[[dataSourceTB2]]'
                                            display = "grid"
                                            columns-default='{"sortable": "enabled"}' 
                                            columns='{{columnArrayApproval}}'>
                </oj-table>
            </div>
            
        </div>  
     </div>
     <div class="oj-dialog-footer">
        <button id="okButton" data-bind="click: closeDialog,ojComponent: {component: 'ojButton', label: ok}"> </button>
      </div>
  </div>
    <div class="oj-flex"  data-bind="style: {visibility: $root.userPriviledge() === 'T' ? 'hidden' : 'show' }">  
     <!--div class="oj-flex-item">
                  <div data-bind="visible: myValues().length > 0">
</div-->
          </div>
          </div>
           <!-- ko if: specialistSummary() == 'true'  -->
                             <button id="backBtn" type="button" class="oj-button-primary" style="vertical-align:center;margin-left:auto;margin-right:auto;" data-bind="click: backAction,
								ojComponent: {
								  component: 'ojButton', 
								  label: back,
								  icons: {start:'oj-fwk-icon-back oj-fwk-icon'}}">
                                </button>
             <!-- /ko -->
    <button id="addFamilyVisaRefund" type="button" 
            class="oj-button-primary"
            data-bind="visible:$root.userPriviledge() !== 'T',
            click: addFamilyVisaRefund,          
            ojComponent: {          
             component: 'ojButton',label: addLabel ,icons:{end:'fa fa-plus'},disabled: addDisabled   }">
            </button>
     
    <button id="edit" type="button"
    class="oj-button-primary"
            style="display:inline-block;vertical-align:top;"
            data-bind="click: editFamilyVisaRefund,   
            ojComponent: {
             component: 'ojButton', disabled: editDisabled,label: editLabel,icons:{end:'fa fa-pencil-square-o'}}">
            </button>
            <button id="viewFamilyVisaRefund" type="button"
                class="oj-button-primary"
            style="display:inline-block;vertical-align:top;"
            data-bind="click: viewFamilyVisaRefund,
            ojComponent: {
            component: 'ojButton', disabled: viewDisabled,label: viewLabel,icons:{end:'fa fa-eye'} }">
            </button>
           
           <button id="deleteADV" type="button"
                class="demo-button-error"
            style="display:inline-block;vertical-align:top;"
            data-bind="click: deleteDraftSelfService,
            ojComponent: {
            component: 'ojButton', disabled: isDraft
            ,label: deleteLabel,icons:{end:'fa fa-times'}}">
            </button>
            
           <button id="buttonOpener" 
                   class="oj-button-primary" 
                   type="button" 
                   data-bind="click: viewNewFamilyVisaRefundApproval,
                              ojComponent: {component: 'ojButton', 
                                             disabled: viewDisabled,
                                    icons:{end:'fa fa-check'},label: viewApprovalsLbl }">
           </button>
        
     
   </div>
  </div>
   <br>

<div id="pagingControlDemo">
<div class="oj-xl-8 oj-lg-8 oj-md-6 oj-flex-item" data-bind="visible:isVisible">
    <oj-table id="tbl1" aria-label="Family visa Refund"
                                data='[[dataSource]]'
                                on-oj-before-current-row = "[[tableSelectionListener]]"
                                display = "grid"
                                style="width:700px"
                                selectionMode = "{'row': 'single'}"
                                columns-default='{"sortable": "enabled"}'
                                dnd='{"reorder": {"columns": "enabled"}}'
                                columns='{{columnArray}}'>
                                               <oj-paging-control id="paging" data='[[dataSource]]' page-size='10' slot='bottom' class="display-inline-flex">
                </oj-paging-control>
    </oj-table>

    
</div>
</div>
 <!--add first first record paragraph -->
      <div class="oj-flex">
            <div class="oj-panel oj-panel-alt1 oj-sm-margin-2x demo-mypanel" data-bind="visible:isShown"  style="width: 700px;  font-size:large; font-weight:bold; color:Green;" >
              <h1><p> <label  data-bind="text:addFirstRecord"/></p></h1>
            </div>
          </div>


</div>
