<div class="oj-flex-item oj-panel">
        <div id="form-container" class="oj-form-layout">
            <div class="oj-form">
                        
 <button id="backBtn" type="button" class="oj-button-primary" style="vertical-align:center;margin-left:auto;margin-right:auto;" data-bind="click: backAction,
								ojComponent: {
								  component: 'ojButton', 
								  label: back,
								  icons: {start:'oj-fwk-icon-back oj-fwk-icon'}}">
                                </button>
             <button id="addStopAllowanceBtn" type="button" class="oj-button-primary" data-bind="
            click: addStopAllowanceRequest,          
            ojComponent: {          
            component: 'ojButton', 
            label: addLabel ,
            disabled: addDisabled,
            icons:{end:'fa fa-plus'}}"></button>

         <button id="editStopAllowanceRequestBtn" type="button" class="oj-button-primary" style="display:inline-block;vertical-align:top;" data-bind="click: editStopAllowanceRequest,   
                ojComponent: {
                component: 'ojButton',
                label: editLabel,
                disabled: editDisabled,
                icons:{end:'fa fa-pencil-square-o'}}"></button>
           <button id="viewStopAllowanceRequestBtn" type="button" class="oj-button-primary" data-bind="
            click: viewStopAllowanceRequestBtn,       
            ojComponent: {          
            component: 'ojButton', 
            label: viewLabel,
            disabled: viewDisabled,
            icons:{end:'fa fa-eye'}}"></button>
               <button id="viewStopAllowanceApprovalBtn" type="button" class="oj-button-primary" 
                style="display:inline-block;vertical-align:top;"
                data-bind="  click: viewStopAllowanceApproval,
            ojComponent: {
            component: 'ojButton',
            disabled: viewDisabled,
            label: viewApprovalsLbl,
            icons:{end:'fa fa-check'}}">
            </button>


            </div>
        </div>
        <br>
        
      
                                      <div id="sampleDemo"  class="demo-padding demo-container">
                
         <!--dialog test-->       
            <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
             <div id="dialogWrapper"  >
            <oj-dialog class = "oj-dialog-content oj-dialog-default-content"  style="display:none;min-width: 50vw; min-height: 65vh;" id="modalDialog1" title="Approvals List">
                <div slot="body" >
   <oj-table id="tbl12" aria-label="Approvals Table"
                            data='[[dataSourceTB2]]'
                                display = "grid"
                                selectionMode = "{'row': 'single'}"
                                columns-default='{"sortable": "enabled"}'
                                dnd='{"reorder": {"columns": "enabled"}}'
                                columns='{{columnArrayApproval}}'>
    </oj-table>                
                </div>
                <div slot="footer">
                          <button id="okButton" data-bind="click: closeDialog,ojComponent: {component: 'ojButton', label: 'OK'}"> </button>

                </div>
            </oj-dialog>
        </div>

        
      </div>
    </div>
             <!--dialog test-->       

  
  <div id="pagingControlDemo">
<div class="oj-xl-8 oj-lg-8 oj-md-6 oj-flex-item" data-bind="visible:isVisible">
    <oj-table id="tbl1" aria-label="Departments Table"
                                data='[[dataSource]]'
                                display = "grid"
                                on-oj-before-current-row = "[[tableSelectionListener]]"
                                selectionMode = "{'row': 'single'}"
                                columns-default='{"sortable": "enabled"}'
                                dnd='{"reorder": {"columns": "enabled"}}'
                                columns='{{columnArray}}'>
                                <oj-paging-control id="paging" data='[[dataSource]]' page-size='10' slot='bottom' class="display-inline-flex"/>
    </oj-table>
</div>
    </div>
    <!--add first first record paragraph -->
      <div class="oj-flex">
            <div class="oj-panel oj-panel-alt1 oj-sm-margin-2x demo-mypanel" data-bind="visible:isShown"  style="width: 700px;  font-size:large; font-weight:bold; color:Green;" >
              <h1><p> <label  data-bind="text:addFirstRecord"/></p></h1>
            </div>
          </div>
  </div>
  