
    <div id="form-container" class="oj-form-layout">
    <div class="oj-form">
                    <button id="cancel" type="button"  data-bind="click: cancelAction,
							ojComponent: {
							  component: 'ojButton', 
							  label: 'Cancel'}">
					</button>
                    <button id="PreviousStep" type="button"  data-bind="click: previousStep, 
							ojComponent: {disabled:currentStepValue() == 'stp1',
							  component: 'ojButton', 
							  label: 'Back'}">
					</button>
                    <button id="NextStep" type="button"  data-bind="visible:nextBtnVisible,click: nextStep, 
					ojComponent: {
					  disabled:currentStepValue() == 'stp2',
					  component: 'ojButton', 
					  label: 'Next '}" />
                    <button id="submit"  data-bind="visible:addBtnVisible ,click: submitButton, 
                       ojComponent: { component: 'ojButton', label: 'Submit'}">
					</button>
                                        
                                           <div id="sampleDemo" style="" class="demo-padding demo-container">
                
                
            <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
             <div id="dialogWrapper">
            <oj-dialog style="display:none;width:350px;height:auto" id="yesNoDialog" title="Confirm Message">
                <div slot="body">
                  Are You Sure To Add Routs Pric
                
                </div>
                <div slot="footer">
                   <button id="buttonOpenerNested" type="button" data-bind="click: commitRecord,
							ojComponent: {
							  component: 'ojButton', 
							  label: 'Yes'}">
					</button>
                    <button id="cancelButton" type="button" data-bind="click: cancelButton,
							ojComponent: {
							  component: 'ojButton', 
							  label: 'No'}">
					</button>
                </div>
            </oj-dialog>
        </div>

        
      </div>
    </div>
                </div>

            </div>
<div id="train-container">
    <div style="text-align: center;white-space:nowrap;">
        <oj-train id="train"
                style="max-width:700px;margin-left:auto;margin-right:auto;"
                selected-step="{{currentStepValue}}"
                steps="[[stepArray]]"
                class="oj-train-stretch"
                on-oj-before-select="[[stopSelectListener]]"/>
    </div>
    <br/>
    <h3 id="currentStepText" data-bind="text: currentStepValueText()" style="text-align: center">
    </h3>


    <div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
          <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="control1">Route Name</label>
                </div>
               <div class="oj-flex-item">
                     <select id="payperiod"
                    data-bind="ojComponent: {component: 'ojSelect',
					required: true, value:RoutsPriceModel.routeName,  disabled: isDisabled }">
              <!-- ko foreach:ticketsRoutesArr -->
              <option data-bind="value:value, text:label"></option>
              <!-- /ko -->
            </select>
                </div>
               
            </div>
        
        
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="control1">Start Date</label>
                </div>
                <div class="oj-flex-item">
                    <input id="control1" data-bind="ojComponent: {component: 'ojInputDate', invalidComponentTracker: tracker,
                                          value:RoutsPriceModel.startDate, required: true ,disabled:isDisabled}">
                </div>

            </div>

            <div class="oj-flex">
               <div class="oj-flex-item">
                    <label for="control1">End Date</label>
                    </div>
                    <div class="oj-flex-item">
                    <input id="control1" data-bind="ojComponent: {component: 'ojInputDate', invalidComponentTracker: tracker,
                                          value:RoutsPriceModel.endDate, required: false,  disabled: isDisabled}">
                     </div>                     
                
               
                </div>
                 <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="control1">Ticket Class</label>
                </div>
               	<div class="oj-flex-item">
                  <select id="payperiod"
                    data-bind="ojComponent: {component: 'ojSelect',invalidComponentTracker: tracker,
					required: true, value:RoutsPriceModel.ticketClass, disabled: isDisabled}">
              <!-- ko foreach:ticketsClass -->
              <option data-bind="value:values, text:values"></option>
              <!-- /ko -->
            </select>
                </div>
               
            </div>
            	     

                

            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="control1">ticket Price</label>
                    </div>
            	       <div class="oj-flex-item">
                       <input id="control1"
                           data-bind="ojComponent: {component: 'ojInputNumber', invalidComponentTracker: tracker,                    
                           value:RoutsPriceModel.ticketPrice, disabled: isDisabled,required: true ,invalidComponentTracker: tracker}"></input>
                </div>
                </div>
                
                
                
                <div class="oj-flex" >
                <div class="oj-flex-item">
                    <label for="control1">adult Price</label>
                </div>
                <div class="oj-flex-item">
                       <input id="control1"
                           data-bind="ojComponent: {component: 'ojInputNumber', invalidComponentTracker: tracker,                    
                           value:RoutsPriceModel.adultPrice, disabled: isDisabled,required: true ,invalidComponentTracker: tracker}"></input>
                </div>

            </div>


   


            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="control1">child Price</label>
                </div>
                <div class="oj-flex-item">
                    <input id="control1" data-bind="ojComponent: {component: 'ojInputNumber', invalidComponentTracker: tracker , 
                                          value:RoutsPriceModel.childPrice, required: true,  disabled: isDisabled}">
                </div>

            </div>
               <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="control1">Infant Price </label>
                </div>
                <div class="oj-flex-item">
                    <input id="control1"
                           data-bind="ojComponent: {component: 'ojInputNumber', invalidComponentTracker: tracker,                    
                           value:RoutsPriceModel.infantPrice, disabled: isDisabled ,required: false}"></input>
                </div>
            </div>
   
        </div>
    </div>
</div>