<div id="train-container">
    <div class="oj-form">
        <div class="oj-flex-bar">
            <div class="oj-flex-bar-start">
                <button id="cancel" type="button"
                        data-bind="click: cancelAction,        ojComponent: {          component: 'ojButton',           label: cancel}"></button>
                 
                <button id="Previous" type="button"
                        data-bind="click: previousStep,         ojComponent: {disabled:currentStepValue() == 'stp1',          component: 'ojButton',           label: pervious}"></button>
            </div>
            <div class="oj-flex-bar-end">
                <button id="buttonOpener" class="oj-button-primary"
                        type="button"
                        data-bind="click: openApprovalDialog,ojComponent: {component: 'ojButton',label: viewApprovalsLbl, icons:{end:'fa fa-check'}}"></button>
                 
                <button id="Next" type="button"
                        data-bind="visible:nextBtnVisible,click: nextStep,       ojComponent: {        disabled:currentStepValue() == 'stp2' || disableNext,        component: 'ojButton',         label: next}"></button>
                 
                <button id="submit"
                        data-bind="visible:addBtnVisible ,click: submitButton,                         ojComponent: { component: 'ojButton', label: submit}"></button>
                 
                <button id="submit"
                        data-bind="visible:addBtnVisible ,click: submitDraft,                         ojComponent: { component: 'ojButton', label: saveDraft}"></button>
            </div>
        </div>
    </div>
    <div style="text-align: center;white-space:nowrap;"
         data-bind="visible:isLeave">
        <oj-train id="train"
                  style="max-width:700px;margin-left:auto;margin-right:auto;"
                  selected-step="{{currentStepValue}}" steps="[[stepArray]]"
                  class="oj-train-stretch"
                  on-oj-before-select="[[stopSelectListener]]"/>
    </div>
    <div id="progress-container"
         style="max-width:400px;margin-left:auto;margin-right:auto;"
         data-bind="visible:isLeave">
        <oj-status-meter-gauge id="gauge9" min="0" max="100" label="{{label}}"
                               thresholds="[[thresholdValues]]"
                               data-bind="value:progressValue "
                               metric-label.rendered="on"
                               plot-area.rendered="on" disabled="true"
                               readonly="readonly"
                               style="margin-top:5px;margin-bottom:5px;                                                          height:20px;width:100%;"></oj-status-meter-gauge>
    </div>
    <br/>
     
    <h3 id="currentStepText" data-bind="text: currentStepValueText()"
        style="text-align: center"></h3>
    <div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
            <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations"
                 data-bind="visible:isLeave">
                <div class="oj-flex-item">
                    <label for="control1" data-bind="text:requestDate "/>
                </div>
                <div class="oj-flex-item">
                    <input id="requestDate"
                           data-bind="ojComponent: {component: 'ojInputText',value: employeeMedicalInsuranceModel.requestDate,required: true,disabled: true}"/>
                </div>
                <div class="oj-flex-item">
                    <label for="control1" data-bind="text:requestType"/>
                </div>
                <div class="oj-flex-item">
                    <select id="businessTripRoute"
                            data-bind="ojComponent: {component: 'ojSelect',value:employeeMedicalInsuranceModel.requestType , placeholder: placeholder,invalidComponentTracker: tracker,required: true, disabled: isDisabled}">
                        <!-- ko foreach: medicalInsuranceTypeList -->
                        <option data-bind="value:value, text:label"></option>
                        <!-- /ko -->
                    </select>
                </div>
                <div class="oj-flex-item">
                    <label for="control1" data-bind="text:reason "/>
                </div>
                <div class="oj-flex-item">
                    <select id="businessTripRoute"
                            data-bind="ojComponent: {component: 'ojSelect',optionChange:reasonChangedHandler ,value:employeeMedicalInsuranceModel.reason , placeholder: placeholder,invalidComponentTracker: tracker, required: true,disabled: isDisabled}">
                        <!-- ko foreach: medicalInsuranceReasonList -->
                        <option data-bind="value:value, text:label"></option>
                        <!-- /ko -->
                    </select>
                </div>
                <div class="oj-flex-item">
                    <label for="control1" data-bind="text:otherReasons "/>
                </div>
                <div class="oj-flex-item">
                    <input id="requestDate"
                           data-bind="ojComponent: {component: 'ojInputText',value: employeeMedicalInsuranceModel.otherReasons,required: reqOtherReason,disabled: isOtherReason}"/>
                </div>
                <div class="oj-flex-item">
                    <label for="control1" data-bind="text:employeBirthDate "/>
                </div>
                <div class="oj-flex-item">
                    <input id="requestDate"
                           data-bind="ojComponent: {component: 'ojInputText',value: employeeMedicalInsuranceModel.employeBirthDate,required: true,disabled: true}"/>
                </div>
                <div class="oj-flex-item">
                    <label for="control1" data-bind="text:IdIqamaNumber "/>
                </div>
                <div class="oj-flex-item">
                    <input id="reason"
                           data-bind="ojComponent: {component: 'ojInputText',value:employeeMedicalInsuranceModel.IdIqamaNumber,invalidComponentTracker: tracker,required: true, disabled: true}"></input>
                </div>
                <div class="oj-flex-item">
                    <label for="control1" data-bind="text:employeeGrade "/>
                </div>
                <div class="oj-flex-item">
                    <input id="reason"
                           data-bind="ojComponent: {component: 'ojInputText',value:employeeMedicalInsuranceModel.employeeGrade,invalidComponentTracker: tracker,required: true, disabled: true}"></input>
                </div>
                <div class="oj-flex-item">
                    <label for="control1"
                           data-bind="text:dependent_1_details "/>
                </div>
                <div class="oj-flex-item">
                    <select id="passengerName1"
                            data-bind="ojComponent: {component: 'ojSelect',value: employeeMedicalInsuranceModel.dependent_1_details,placeholder: placeholder,invalidComponentTracker: tracker, disabled: isDisabled,optionChange: dependent_1_ChangedHandler}">
                        <!-- ko foreach: dependantNameArr1 -->
                        <option data-bind="value:value, text:label"></option>
                        <!-- /ko -->
                    </select>
                </div>
                <div class="oj-flex-item">
                    <label for="control1"
                           data-bind="text:dependent_2_details "/>
                </div>
                <div class="oj-flex-item">
                    <oj-select-one id="passengerName2"
                                   value="{{employeeMedicalInsuranceModel.dependent_2_details}}"
                                   options="{{dependantNameArr2}}"
                                   placeholder="{{placeholder}}"
                                   disabled="{{isDependent1}}"
                                   on-value-changed="{{dependent_2_ChangedHandler}}"></oj-select-one>
                </div>
                <div class="oj-flex-item">
                    <label for="control1"
                           data-bind="text:dependent_3_details "/>
                </div>
                <div class="oj-flex-item">
                    <oj-select-one id="passengerName3"
                                   value="{{employeeMedicalInsuranceModel.dependent_3_details}}"
                                   options="{{dependantNameArr3}}"
                                   placeholder="{{placeholder}}"
                                   disabled="{{isDependent2}}"
                                   on-value-changed="{{dependent_3_ChangedHandler}}"></oj-select-one>
                </div>
                <div class="oj-flex-item">
                    <label for="control1"
                           data-bind="text:dependent_4_details "/>
                </div>
                <div class="oj-flex-item">
                    <oj-select-one id="passengerName4"
                                   value="{{employeeMedicalInsuranceModel.dependent_4_details}}"
                                   options="{{dependantNameArr4}}"
                                   placeholder="{{placeholder}}"
                                   disabled="{{isDependent3}}"
                                   on-value-changed="{{dependent_4_ChangedHandler}}"></oj-select-one>
                </div>
                <div class="oj-flex-item">
                    <label for="control1"
                           data-bind="text:dependent_5_details "/>
                </div>
                <div class="oj-flex-item">
                    <oj-select-one id="passengerName5"
                                   value="{{employeeMedicalInsuranceModel.dependent_5_details}}"
                                   options="{{dependantNameArr4}}"
                                   placeholder="{{placeholder}}"
                                   disabled="{{isDependent4}}"
                                   on-value-changed="{{dependent_5_ChangedHandler}}"></oj-select-one>
                </div>
                <div class="oj-flex-item">
                    <label for="control1" data-bind="text:remarks "/>
                </div>
                <div class="oj-flex-item">
                    <input id="reason"
                           data-bind="ojComponent: {component: 'ojInputText',value:employeeMedicalInsuranceModel.remarks,invalidComponentTracker: tracker,required: true, disabled: isDisabled}"></input>
                </div>
                <div class="oj-flex-item">
                    <label for="control1" data-bind="text:attachment"/>
                </div>
                <div class="oj-flex-item">
                    <input id="inputImg" type="file" onchange="prev()"
                           accept="image/*"/>
                     
                    <img src="" height="200" alt="Image preview..."
                         class="attClass" width='207'/>
                </div>
                <div id="sampleDemo" style=""
                     class="demo-padding demo-container">
                    <div id="componentDemoContent"
                         style="width: 1px; min-width: 100%;">
                        <div id="dialogWrapper">
                            <oj-dialog style="display:none;width:350px;height:auto"
                                       id="yesNoDialog" title="Confirm Message">
                                <div slot="header" class="oj-helper-clearfix">
                                    <label data-bind="text:confirmMessage "/>
                                </div>
                                <div slot="body">
                                    <label data-bind="text:addMessage "/>
                                </div>
                                <div slot="footer">
                                    <button id="buttonOpenerNested"
                                            type="button"
                                            data-bind="click: commitRecord,                                                 ojComponent: {                                                   component: 'ojButton',                                                    label: yes}"></button>
                                     
                                    <button id="cancelButton" type="button"
                                            data-bind="click: cancelButton,                                                 ojComponent: {                                                   component: 'ojButton',                                                    label: no}"></button>
                                </div>
                            </oj-dialog>
                             
                            <oj-dialog style="display:none;width:350px;height:auto"
                                       id="draftDialog">
                                <div slot="header" class="oj-helper-clearfix">
                                    <label data-bind="text:confirmMessage "/>
                                </div>
                                <div slot="body">
                                    <label data-bind="text:addMessage "/>
                                </div>
                                <div slot="footer">
                                    <button id="buttonOpenerNested"
                                            type="button"
                                            data-bind="click: commitDraft,                                                 ojComponent: {                                                   component: 'ojButton',                                                    label: yes}"></button>
                                     
                                    <button id="cancelButton" type="button"
                                            data-bind="click: cancelDraft,                                                 ojComponent: {                                                   component: 'ojButton',                                                    label: no}"></button>
                                </div>
                            </oj-dialog>
                            <div style="display:none" id="modalApprovalDialog"
                                 data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide', rootAttributes: { style: 'min-width: 50vw; min-height: 65vh;'}}">
                                <div class="oj-dialog-header">
                                    <span data-bind="text:approvals"></span>
                                </div>
                                <div class="oj-dialog-body">
                                    <div id="tableDemo"
                                         class="oj-flex oj-flex-items-pad">
                                        <div class="oj-xl-8 oj-lg-8 oj-md-6 oj-flex-item">
                                            <oj-table id="tbl12"
                                                      aria-label="Departments Table"
                                                      data='[[approvalDataSourceTB2]]'
                                                      display="grid"
                                                      columns-default='{"sortable": "enabled"}'
                                                      columns='{{columnArrayApproval}}'></oj-table>
                                        </div>
                                    </div>
                                </div>
                                <div class="oj-dialog-footer">
                                    <button id="okButton"
                                            data-bind="click: closeApprovalDialog,ojComponent: {component: 'ojButton', label: ok}"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>