<div id="train-container">
    <div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
            <div class="oj-form-top">
                <button id="cancel" type="button" class="oj-button-primary"
                        style="margin-left:auto;margin-right:auto;"
                        data-bind="click: backAction,ojComponent: {component: 'ojButton',label: back,icons: {start:'oj-fwk-icon-back oj-fwk-icon'}}"></button>
            </div>
            <div class="oj-form-layout">
                <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                    <div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">
                        <div class="oj-flex-item">
                            <label for="control1"
                                   data-bind="text:requestDate "/>
                        </div>
                        <div class="oj-flex-item">
                            <input id="requestDate"
                                   data-bind="ojComponent: {component: 'ojInputText',value: employeeMedicalInsuranceModel.requestDate,required: true,disabled: true}"/>
                        </div>
                        <div class="oj-flex-item">
                            <label for="control1" data-bind="text:requestType"/>
                        </div>
                        <div class="oj-flex-item">
                            <input id="arabicName"
                                   data-bind="ojComponent: {component: 'ojInputText',value: employeeMedicalInsuranceModel.requestType, required: true,  disabled: true}"></input>
                        </div>
                        <div class="oj-flex-item">
                            <label for="control1" data-bind="text:reason "/>
                        </div>
                        <div class="oj-flex-item">
                            <input id="arabicName"
                                   data-bind="ojComponent: {component: 'ojInputText',value: employeeMedicalInsuranceModel.reason, required: true,  disabled: true}"></input>
                        </div>
                        <div class="oj-flex-item">
                            <label for="control1" data-bind="text:otherReasons "/>
                        </div>
                        <div class="oj-flex-item">
                            <input id="requestDate"
                                   data-bind="ojComponent: {component: 'ojInputText',value: employeeMedicalInsuranceModel.otherReasons,required: true,disabled: true}"/>
                        </div>
                        <div class="oj-flex-item">
                            <label for="control1" data-bind="text:employeBirthDate "/>
                        </div>
                        <div class="oj-flex-item">
                            <input id="requestDate"
                                   data-bind="ojComponent: {component: 'ojInputText',value: employeeMedicalInsuranceModel.employeBirthDate,required: true,disabled: true}"/>
                        </div>
                        <div class="oj-flex-item">
                            <label for="control1" data-bind="text:IdIqamaNumber "/>
                        </div>
                        <div class="oj-flex-item">
                            <input id="reason"
                                   data-bind="ojComponent: {component: 'ojInputText',value:employeeMedicalInsuranceModel.IdIqamaNumber, disabled: true}"></input>
                        </div>
                        <div class="oj-flex-item">
                            <label for="control1" data-bind="text:employeeGrade "/>
                        </div>
                        <div class="oj-flex-item">
                            <input id="reason"
                                   data-bind="ojComponent: {component: 'ojInputText',value:employeeMedicalInsuranceModel.employeeGrade, disabled: true}"></input>
                        </div>
                        <div class="oj-flex-item">
                            <label for="control1" data-bind="text:dependent_1_details "/>
                        </div>
                        <div class="oj-flex-item">
                            <input id="reason"
                                   data-bind="ojComponent: {component: 'ojInputText',value:employeeMedicalInsuranceModel.dependent_1_details, disabled: true}"></input>
                        </div>
                        <div class="oj-flex-item">
                            <label for="control1" data-bind="text:dependent_2_details "/>
                        </div>
                        <div class="oj-flex-item">
                            <input id="reason"
                                   data-bind="ojComponent: {component: 'ojInputText',value:employeeMedicalInsuranceModel.dependent_2_details, disabled: true}"></input>
                        </div>
                        <div class="oj-flex-item">
                            <label for="control1" data-bind="text:dependent_3_details "/>
                        </div>
                        <div class="oj-flex-item">
                            <input id="reason"
                                   data-bind="ojComponent: {component: 'ojInputText',value:employeeMedicalInsuranceModel.dependent_3_details, disabled: true}"></input>
                        </div>
                        <div class="oj-flex-item">
                            <label for="control1" data-bind="text:dependent_4_details "/>
                        </div>
                        <div class="oj-flex-item">
                            <input id="reason"
                                   data-bind="ojComponent: {component: 'ojInputText',value:employeeMedicalInsuranceModel.dependent_4_details, disabled: true}"></input>
                        </div>
                        <div class="oj-flex-item">
                            <label for="control1" data-bind="text:dependent_5_details "/>
                        </div>
                        <div class="oj-flex-item">
                            <input id="reason"
                                   data-bind="ojComponent: {component: 'ojInputText',value:employeeMedicalInsuranceModel.dependent_5_details, disabled: true}"></input>
                        </div>
                        <div class="oj-flex-item">
                            <label for="control1" data-bind="text:remarks "/>
                        </div>
                        <div class="oj-flex-item">
                            <input id="reason"
                                   data-bind="ojComponent: {component: 'ojInputText',value:employeeMedicalInsuranceModel.remarks, disabled: true}"></input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>