	<div class="oj-form-layout">
		<div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                      <div class="oj-form-top" >
                            <button id="backBtn" type="button" class="oj-button-primary" style="vertical-align:center;margin-left:auto;margin-right:auto;" data-bind="click: backAction,
								ojComponent: {
								  component: 'ojButton', 
								  label: back,
								  icons: {start:'oj-fwk-icon-back oj-fwk-icon'}}">
                                </button>
                        </div>
			<div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">
					<div class="oj-flex-item">
						<label for="control1"  data-bind="text:requestDate "/>
					</div>
					<div class="oj-flex-item">
						<input id="control1" data-bind="ojComponent: {component: 'ojInputText', 
                                          value:bTripDriverModel.requestDate,disabled:  true}">
					</div>
					<div class="oj-flex-item">
						<label for="control1"  data-bind="text:type "/>
					</div>
					<div class="oj-flex-item">
						<input id="control1" data-bind="ojComponent: {component: 'ojInputText', 
                                          value:bTripDriverModel.type,disabled:  true }">
					</div>
			
					<div class="oj-flex-item">
						<label for="control1"  data-bind="text:countrylbl "/>
					</div>
					<div class="oj-flex-item">
						<input id="control1" data-bind="ojComponent: {component: 'ojInputText', 
                                          value:bTripDriverModel.area ,disabled:  true }">
					</div>
			</div>
			<div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations" >
					<div class="oj-flex-item">
						<label for="control1"  data-bind="text:totalKM "/>
					</div>
					<div class="oj-flex-item">
						<input id="control1" data-bind="ojComponent: {component: 'ojInputText', 
                                          value:bTripDriverModel.totalKm,disabled:  true }">
					</div>
			
                <div class="oj-flex-item">
                    <label for="control1"  data-bind="text:tripsNumber "/>
                </div>
                <div class="oj-flex-item">
                    <input id="control1" data-bind="ojComponent: {component: 'ojInputText', 
                                          value:bTripDriverModel.tripsNumber,disabled:  true}">
                </div>

            </div>
			<div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">
                <div class="oj-flex-item">
                    <label for="control1"  data-bind="text:startdate "/>
                </div>
                <div class="oj-flex-item">
                    <input id="control1" data-bind="ojComponent: {component: 'ojInputText', 
                                          value:bTripDriverModel.startDate,converter: dateConverter,disabled:  true}">
                </div>

                <div class="oj-flex-item">
                    <label for="control1"  data-bind="text:enddate "/>
                </div>
                <div class="oj-flex-item">
                    <input id="control1" data-bind="ojComponent: {component: 'ojInputText', 
                                          value:bTripDriverModel.endDate,converter: dateConverter,disabled:  true}">
                </div>

      
                <div class="oj-flex-item">
                    <label for="control1"  data-bind="text:nodays "/>
                </div>
                <div class="oj-flex-item">
                    <input id="control1" data-bind="ojComponent: {component: 'ojInputText', 
                                          value:bTripDriverModel.daysNumber,disabled:  true}">
                </div>

            </div>
			<div class="oj-flex oj-panel oj-sm-margin-2x demo-panel-customizations">
                <div class="oj-flex-item">
                   <label for="control1"  data-bind="text:notes "/>
                </div>
                <div class="oj-flex-item">
                    <input id="control1" data-bind="ojComponent: {component: 'ojInputText', 
                                          value:bTripDriverModel.notes,disabled:  true}">
                </div>

                    <div class="oj-flex-item">
                         <label for="control1"  data-bind="text:attachment" />
                  </div>
                  <div class="oj-flex-item">
                    <input type="file" onchange="previewFile()" accept="image/*"/>
                                            <img src="#" height="200" alt="Image preview..." class="attClass" width= '207'/>
                    </div>

				</div>
			</div>
		</div>
