<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
  <servlet>
    <servlet-name>HDLServiceUtil</servlet-name>
    <servlet-class>com.nadec.selfservice.common.servlets.HDLServiceUtil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Mailing</servlet-name>
    <servlet-class>com.nadec.selfservice.common.servlets.Mailing</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>commonBIReport</servlet-name>
    <servlet-class>com.nadec.selfservice.common.servlets.bipreportsservlets.GetBIReportData</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.nadec.selfservice.common.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jersey-serlvet</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.nadec.selfservice</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>SubmitChildrenExpense</servlet-name>
    <servlet-class>com.nadec.selfservice.common.servlets.SubmitChildrenExpense</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HCMDataLoaderResponseImplPort</servlet-name>
    <servlet-class>callback.HCMDataLoaderResponseImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jersey-serlvet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HDLServiceUtil</servlet-name>
    <url-pattern>/data2/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Mailing</servlet-name>
    <url-pattern>/mailing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>commonBIReport</servlet-name>
    <url-pattern>/commonbireport</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitChildrenExpense</servlet-name>
    <url-pattern>/submitchildrenexpense</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HCMDataLoaderResponseImplPort</servlet-name>
    <url-pattern>/HCMDataLoaderResponseImplPort</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <login-config/>
</web-app>
